.nav-ecommerce {
  background-color: #fafafa;
  overflow: hidden;
}

.ul-ecommerce {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.li-basket a {
  color: #1f2937;
  display: flex;
  align-items: center;
}
